<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false">
    <property name="LOG_PATTERN" value="%d [%thread] %-5level %logger{35} - %msg %n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
