<html>

    <head>
        <title>Kuronometer</title>
        <style>
            body {
                background-color: #26343d;
            }
            .counter {
                font-size: 10em;
                color: #FFFFFF;
            }
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-100%, -100%);
            }

        </style>
    </head>
    <body>
        <h1 class="counter centered">{{timeCompiling}}s</h1>
    </body>
</html>

